.h1 {
  text-align: center;
}
.main-text {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}
.weight-bold-text {
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  min-width: 170px;
  text-align: center;
  display: inline;
}
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
.form {
  text-align: center;
}
.sub-text {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 25px;
  color: royalblue;
}
.result {
  text-align: center;
}
.result-btn {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  padding: 12px 12px;
  background: #000066;
  color: #ffffff;
  transition: .3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #000066;
}
.result-btn:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}
.h2 {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 30px;
  color: violet;
}
.content {
  text-align: center;
  display: block;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 25px;
  color: #2e8b57;
}
.sub-content {
  text-align: center;
  display: block;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 25px;
  color: #ff7f50;
}
.animation-target {
  animation-name: fuwafuwa;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}
@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -15px);
  }
}
.picture {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture > div {
  height: 400px;
  background-image: image-url("meinkun2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture2 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture2 > div {
  height: 400px;
  background-image: image-url("suko3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture3 {
  width: 450px;
  height: 700px;
  margin-top: 100px;
  margin-left: 500px;
}
.picture3 > div {
  height: 400px;
  background-image: image-url("ekizo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture4 {
  width: 700px;
  height: 800px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture4 > div {
  height: 400px;
  background-image: image-url("meinkun2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture5 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture5 > div {
  height: 400px;
  background-image: image-url("baamiizu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture6 {
  width: 450px;
  height: 700px;
  margin-top: 100px;
  margin-left: 500px;
}
.picture6 > div {
  height: 400px;
  background-image: image-url("amerikan2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture7 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture7 > div {
  height: 400px;
  background-image: image-url("mantikan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture8 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture8 > div {
  height: 400px;
  background-image: image-url("burithishu2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture9 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture9 > div {
  height: 400px;
  background-image: image-url("abishinian.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture10 {
  width: 650px;
  height: 700px;
  margin-top: 100px;
  margin-left: 400px;
}
.picture10 > div {
  height: 400px;
  background-image: image-url("syamu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture11 {
  width: 650px;
  height: 700px;
  margin-top: 100px;
  margin-left: 400px;
}
.picture11 > div {
  height: 400px;
  background-image: image-url("meinkuun.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture12 {
  width: 650px;
  height: 700px;
  margin-top: 100px;
  margin-left: 400px;
}
.picture12 > div {
  height: 400px;
  background-image: image-url("sufinkusu2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture13 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture13 > div {
  height: 400px;
  background-image: image-url("mike2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture14 {
  width: 650px;
  height: 700px;
  margin-top: 100px;
  margin-left: 400px;
}
.picture14 > div {
  height: 400px;
  background-image: image-url("ragu3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture15 {
  width: 450px;
  height: 700px;
  margin-top: 100px;
  margin-left: 500px;
}
.picture15 > div {
  height: 400px;
  background-image: image-url("ekizo3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture16 {
  width: 700px;
  height: 700px;
  margin-top: 100px;
  margin-left: 350px;
}
.picture16 > div {
  height: 400px;
  background-image: image-url("rosian2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture17 {
  width: 450px;
  height: 700px;
  margin-top: 100px;
  margin-left: 500px;
}
.picture17 > div {
  height: 400px;
  background-image: image-url("bonbei.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture18 {
  width: 450px;
  height: 700px;
  margin-top: 100px;
  margin-left: 500px;
}
.picture18 > div {
  height: 400px;
  background-image: image-url("hima2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture19 {
  width: 600px;
  height: 700px;
  margin-top: 100px;
  margin-left: 450px;
}
.picture19 > div {
  height: 400px;
  background-image: image-url("noruwejan2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}