.h1 {
  text-align: center;
}
.main-text {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 32px;
}
.weight-bold-text {
  font-weight: bold;
  font-family: 'Hachi Maru Pop', cursive;
  min-width: 170px;
  text-align: center;
  display: inline;
}
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}
.form {
  text-align: center;
}
.sub-text {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 25px;
  color: royalblue;
}
.result {
  text-align: center;
}
.result-btn {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  padding: 12px 12px;
  background: #000066;
  color: #ffffff;
  transition: .3s;
  box-shadow: 6px 6px 3px #666666;
  border: 2px solid #000066;
}
.result-btn:hover {
  box-shadow: none;
  color: #000066;
  background: #ffffff;
}
.h2 {
  text-align: center;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 30px;
  color: violet;
}
.content {
  text-align: center;
  display: block;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 25px;
  color: #2e8b57;
}
.sub-content {
  text-align: center;
  display: block;
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 25px;
  color: #ff7f50;
}
.picture {
  width: 700px;
  height: 500px;
  margin-top: 100px;
  margin-left: 300px;
}
.picture > div {
  height: 400px;
  background-image: url(meinkun2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture2 {
  width: 700px;
  height: 500px;
  margin-top: 100px;
  margin-left: 300px;
}
.picture2 > div {
  height: 400px;
  background-image: url(suko2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.picture3 {
  width: 700px;
  height: 500px;
  margin-top: 100px;
  margin-left: 300px;
}
.picture3 > div {
  height: 400px;
  background-image: url(ekizo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}